/.phpunit.cache
/node_modules
/public/build
/public/hot
/bootstrap/cache/*.php
!/bootstrap/cache/.gitkeep
/storage/*.key
/storage/app/*
!/storage/app/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
!/storage/framework/cache/data/
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/testing/*
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/vendor
.env
.env.backup
.env.production
.codex-preview
composer.phar
database/*.sqlite
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
